/* 漢堡條 */
#hamburger {
    display: none;
}

@media ( max-width:768px) {
    #hamburger {
        display: block;
        float: right;
        width: 60px;
        height: 60px;
        margin: 10px 0 0 0;
    }
}

/* 按鈕群 */
.buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    height: 50px;
    width: 200px;
    line-height: 50px;
    background-color: #597D6E;
    padding: 0 0 0 10px;
    color: white;
    margin: 0 0 30px 0;
}

.button.active {
    background-color: #8A732F;
    border: solid 3px white;
    line-height: 44px;
    padding: 0 0 0 7px;
}

@media ( max-width:1280px) {
    .buttons {
        display: flex;
        flex-direction: row;
        float: right;
    }

    .button {
        width: 150px;
        height: 100px;
        line-height: 100px;
        padding: unset;
        text-align: center;
        margin: 25px 0 25px 30px;
        border-radius: 5px;
    }

    .button.active {
        line-height: 94px;
        padding: unset;
    }
}

@media ( max-width:1140px) {
    .button {
        width: 100px;
        height: 80px;
        line-height: 80px;
        margin: 10px 0 10px 30px;
        border-radius: 3px;
    }

    .button.active {
        line-height: 74px;
    }
}

@media ( max-width:768px) {
    .buttons {
        clear: right;
        display: none;
        position: relative;
        bottom: 460px;
    }

    .hamburger:hover~.buttons {
        display: block;
    }

    .buttons:hover {
        display: block;
    }

    .button {
        float: unset;
        width: 150px;
        height: 80px;
        line-height: 80px;
        margin: 0;
        border-radius: unset;
    }
}