.section-container{
    width: 1110px;
    margin: 0 auto;
}

.section-1{
    width: calc(100% - 50px);
    float: right;
}

.card-1{
    display: flex;
}

.card-1 .picture{
    width: 30%;
    height: 300px;
    background-color: aqua;
}

.card-1 .text{
    width: 70%;
    height: 300px;
    background-color: blue;
}

